[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mypy = "*"
pytest = "*"
beautifulsoup4 = "*"
requests = "*"
pre-commit = "*"
click = "*"
neovim = "*"
flake8 = "*"

[dev-packages]

[requires]
python_version = "3.9"
